.login,
.register{
  font-family: sans-serif;
  font-size: 13px;
}
  
.login fieldset,
.register fieldset{
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid;
  width: 700px;
}
  
.login legend,
.register legend{
  background: #0053A1;
  border: 1px solid;
  padding: 1px 5px;
}
      
/*.login div,
.register div{
  margin-bottom: 0.5em;
  text-align: left;
}*/
      
.login label,
.register label{
  width: 140px;
  float: left;
  text-align: left;
  margin-right: 10px;
  padding: 2px 0px;
  display: block;
}
  
.login input[type=text], .login input[type=password],
.register input[type=text], .register input[type=password]{
  border: 1px solid;
  padding: 2px 5px;
  width:200px;
}
  
.login .buttonRow,
.register .buttonRow{
  text-align: left;
}
  
.login input[type=submit],
.register input[type=submit]{
  border: 2px outset;
}
 
.login .authError{
    margin-bottom:20px; 
    color:red;
    text-align:center;
}